config
cache
classes
lib
out
scala_classes
test
target/
*.login
cache_
.idea
realpath/realpath
node_modules
*fastopt*
*fullopt*
.cbt-loop.tmp
test/simple/src_generated
ScalatexGenerated.scala
.idea/
*.iml
